.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #6441a5;
	height: 75px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
}

.App-intro {
	font-size: large;
}

.container {
	height: 400px;
}

.base-input {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 3px;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
	padding-bottom: 5px;
}

.go-button {
	background-color: #6441a5;
	color: white;
	padding: 5px;
	width: 40px;
}

label {
	padding: 5px;
	font: "Hind", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}