.App {
	text-align: center;
}

.App-header {
	background-color: #6441a5;
	height: 75px;
	padding: 20px;
	color: white;
}

.App-title {
	 font-size: 1.5em; 
	 font-weight: bold; 
}

.App-intro {
	 font-size: large; 
}

.base-input {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 3px;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
	padding-bottom: 5px;
}

.go-button {
	background-color: #6441a5;
	color: white;
	padding: 5px;
	width: 40px;
	border-radius: 5px 5px;
	margin-left: 5px;
}

label {
	padding: 5px;
}

.shadow-container {
	box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.75);
	min-width: 480px;
	max-width: 480px;
	max-height: 270px;
	min-height: 270px;
	text-align: center;
	vertical-align: middle;
}

.shadow {
	box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.75);
}